@model IEnumerable<KlopZavod.Models.Semena>

@{
    ViewData["Title"] = "Список";
}

<h1>Список</h1>

<p>
    <a asp-action="Create">Создать новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Наименование
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SemenaID"><img src="~/img/edit.png" width="16" height="16"></a> |
                <a asp-action="Details" asp-route-id="@item.SemenaID"><img src="~/img/detail.png" width="16" height="16"></a> |
                <a asp-action="Delete" asp-route-id="@item.SemenaID"><img src="~/img/delete.png" width="16" height="16"></a>
            </td>
        </tr>
}
    </tbody>
</table>
