@model KlopZavod.Models.Khojagi

@{
    ViewData["Title"] = "Добавление";
}

<h1>Создать</h1>

<h4>Дехканское Хозяйство</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Наименование</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label">Директор</label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RMA" class="control-label">ИНН</label>
                <input asp-for="RMA" class="form-control" />
                <span asp-validation-for="RMA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Телефон</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ga" class="control-label">Гектар(га)</label>
                <input asp-for="Ga" class="form-control" />
                <span asp-validation-for="Ga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssocID" class="control-label">Ассоциация</label>
                <select asp-for="AssocID" class ="form-control" asp-items="ViewBag.AssocID"></select>
            </div>
            <div class="form-group">
                <label asp-for="RayonID" class="control-label">Район</label>
                <select asp-for="RayonID" class ="form-control" asp-items="ViewBag.RayonID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
